@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: black !important;
  color: white !important;
  margin: 0;
}
